body {
   /* Background Image */
   background-image: url('./red-barn-unsplash.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;

   /* Storehouse Label Style Variables */
   --storehouse-label-padding-top: 5px;
   --storehouse-label-padding-bottom: 5px;
   --storehouse-label-padding-left: 25px;
   --storehouse-label-padding-right: 25px;
   --storehouse-label-font-family: 'Food Secret';
   --storehouse-label-margin: 10px;
}

/* ----------------------------- Scrollbar Styles ----------------------------- */
/* Width */
::-webkit-scrollbar {
   width: 15px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0.5);
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgba(255, 255, 255, 0.5);
   cursor: pointer;
 }
 /* ---------------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,.storehouse_heading {
   font-family: 'Food Secret';
   word-wrap: break-word;
   white-space: normal;
}

.storehouse-btn {
   background: rgba(0, 0, 0, 0);
   font-family: 'Food Secret';
   border-radius: 0px;
   margin: 10px;
}

.storehouse_column {
   color: rgb(150, 150, 150);
   background: rgba(0, 0, 0, 0.5);
}

.storehouse_query_button_image {
   width: 20px;
}

.storehouse_jumbotron {
   border-radius: 0px;
   /* background: rgba(0, 0, 0, 0.5); */
}

.storehouse_label {
   background: rgba(0, 0, 0, 0.5);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse_danger_label {
   background: rgba(255, 0, 0, 1);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse_info_label {
   background: rgb(29, 150, 236);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse_primary_label {
   background: rgb(32, 74, 170);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse_success_label {
   background: rgb(37, 136, 37);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse_warning_label {
   background: rgb(150, 126, 19);
   padding-top: var(--storehouse-label-padding-top);
   padding-bottom: var(--storehouse-label-padding-bottom);
   padding-left: var(--storehouse-label-padding-left);
   padding-right: var(--storehouse-label-padding-right);
   font-family: var(--storehouse-label-font-family);
   margin: var(--storehouse-label-margin);
}

.storehouse-navbar {
   background: rgba(0, 0, 0, 0);
   transition: background 0.2s;
}

.storehouse-navbar:hover {
   background: rgba(0, 0, 0, 0.7);
}

.storehouse_navbar_brand {
   font-family: 'Food Secret';
}

.storehouse_form_group {
   margin: 25px;
}

.storehouse_form_group_table {
   height: 250px;
   overflow: auto;
}

.storehouse_select {
   background: rgba(0, 0, 0, 0.75);
   border: none;
   border-radius: 0px;
   font-family: 'Food Secret';
   cursor: pointer;
}

.storehouse_select:focus {
   background: rgba(0, 0, 0, 0.75);
}

.storehouse_select option {
   background: rgba(0, 0, 0, 0.5);
   font-family: 'Food Secret';
   cursor: pointer;
}

.storehouse_table {
   background: rgba(0, 0, 0, 0.75);
}

.storehouse_table th {
   font-family: 'Folktale';
   text-align: center;
}

.storehouse_table td {
   font-family: 'Folktale';
   color: white;
   text-align: center;
}

.storehouse_textarea {
   border-radius: 0px;
   background: rgba(0, 0, 0, 0.85);
   color: white;
   margin: 0px;
   padding: 25px;
   border: 0px;
   height: 150px;
   width: 100%;
   font-family: 'Operator Mono';
}

.storehouse_textarea:focus {
   outline: none !important;
   background: rgba(0, 0, 0, 0.85);
   color: white;
   border: 0px;
}

.storehouse_image {
   width: 40px;
}